{% extends 'contacts/base.html' %}

{% block titre %}{{ contact.prenom }} {{ contact.nom }}{% endblock %}

{% block contenu %}
<h2>{{ contact.prenom }} {{ contact.nom }}</h2>


<ul class="detail-info">
    <li><strong>Email :</strong> {{ contact.email }}</li>
    <li><strong>Téléphone :</strong> {{ contact.telephone }}</li>
    <li><strong>Ajouté le :</strong> {{ contact.date_ajout|date:"d/m/Y H:i" }}</li>
</ul>

<a href="{% url 'liste_contacts' %}" class="btn-retour">← Retour à la liste</a>
<a href="{% url 'modifier_contact' contact.id %}" class="btn-retour"> Modifier</a>
<a href="{% url 'supprimer_contact' contact.id %}" class="btn-retour" style="background-color:#c0392b;"> Supprimer</a>
{% endblock %}